* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #111;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header h1 {
    color: orange;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: '';
    width: 0;
    height: 2px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1552566626-52f8b828add9");
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.hero h2 {
    font-size: 45px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    background: orange;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* SECTIONS */
.section {
    padding: 80px 50px;
    text-align: center;
}

.light {
    background: white;
}

.dark {
    background: #222;
    color: white;
}

.section ul {
    list-style: none;
    margin-top: 20px;
}

.section ul li {
    margin: 10px 0;
}

/* MENU */
.menu {
    padding: 100px 50px;
    background: #fff;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.menu-card {
    background: #fafafa;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.menu-card h3 {
    color: orange;
}

.menu-card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* GALLERY */
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.box {
    width: 80px;
    height: 80px;
    background: orange;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    background: orange;
    color: black;
}

/* FOOTER */
footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 15px;
}
